[Unit]
Description=Job that runs your user script

[Service]
ExecStart=bash /home/startup.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
